{% extends 'base.html.twig' %}

{% block body %}

    <h3>create a new category</h3>

    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    <button type="submit" class="btn btn-success">send</button>
    {{ form_end(form)}}


    <a href="{{ path('app_category') }}" class="btn btn-primary">return</a>
{% endblock %}

{% block title %}

{% endblock %}
