<nav class="navbar bg-warning">
    <div class="container">
        <a class="navbar-brand" href="#">
            <span>Shop</span>
        </a>
        <a href="{{ path('app_login') }}" class="btn btn-primary">login</a>
        <a href="{{ path('app_logout') }}" class="btn btn-primary">logout</a>
        <a href="{{ path('app_register') }}" class="btn btn-primary">sign up</a>
    </div>
</nav>